@model instructor
@* *@
@* <table class="table table-bordered table-hover"> *@
@*     <tr> *@
@*         <th>Id</th> *@
@*         <th>Name</th> *@
@*         <th>Address</th> *@
@*         <th>Salary</th> *@
@*     </tr> *@
@*         <tr> *@
@*             <th>@Model.id</th> *@
@*             <th>@Model.Name</th> *@
@*             <th>@Model.Address</th> *@
@*             <th>@Model.Salary</th> *@
@*         </tr> *@
@*     *@
@* </table> *@

<h1>Instructor Details</h1>
<br/>
<br/>

@* <partial   name="_EmpCardPartial"  model="Model"/> *@